*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
  #app{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  
  // -----------------------覆盖vant-----------------------
  .van-nav-bar {
    background: #3296fa;
    .van-nav-bar__title {
      color: #fff;
    }
    .van-nav-bar__text {
      color: #fff;
      font-size: 12px;
    }
    .van-icon{
      color: #fff;
    }
  }
  .van-tabbar{
    background: #fdfdfd;
  }
  .van-nav-bar__text:active{
    background: transparent;
  }

  .split {
    height: 20px;
  }